body
{
    height: 1200px;
    background-image: url(https://images.theconversation.com/files/368263/original/file-20201109-22-lqiq5c.jpg?ixlib=rb-1.1.0&rect=20%2C543%2C6689%2C3339&q=45&auto=format&w=1356&h=668&fit=crop);
    background-repeat: no-repeat;
    background-size: auto;
}
